html, body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color:  hsl(27, 66%, 92%);
}

p {
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 13px;
  color: hsl(33, 100%, 98%);
  margin-top: 20px;
}

h2 {
  padding: 20px 10px 20px 20px;
  color: hsl(25, 47%, 15%);
}

h4 {
 margin-left: -72px;
 margin-top: 14px;
 font-size: 24px;
 color: hsl(33, 100%, 98%);
 line-height: 80px;
}

hr {
  width: 400px;
  color: hsl(28, 10%, 53%);

  margin-top: 25px;
}

.card {
  display: flex;
  width: 450px;
  height: 82px;

  background-color: hsl(10, 79%, 65%);

  margin: auto;
  margin-top: 15px;
  border-radius: 12px;
}

.card-imagem {
  display: flex;
  justify-content: left;
}

.img {
  width: 60px;
  margin-left: 250px;
}

.container {
  width: 450px;
  height: 480px;

  background-color:   hsl(33, 100%, 98%);
  margin: auto;
  margin-top: -8px;
  border-radius: 12px;
}

.card-days {
  display: flex;
  margin-top: 160px;
  padding: 12px;
  gap: 12px;
}

.box-monday button {
  width: 50px;
  height: 48px;
  transform: translateY(22%);
}

.box-tuesday button {
  width: 50px;
  height: 100px;
  transform: translateY(-50%);
}

.box-wednesday button {
  background-color: hsl(186, 34%, 60%);
  height: 160px;
  transform: translateY(-70%);
}

.box-thrusday button {
  height: 100px;
  transform: translateY(-50%);
}

.box-friday button {
  height: 70px;
  transform: translateY(-26%);
}

.box-saturday button {
  height: 120px;
  transform: translateY(-55%);
}

.box-sunday button {
  height: 60px;
  transform: translateY(-10%);
}

button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: hsl(10, 79%, 65%);
  border-radius: 5px;
}

.texto-mon {
  color:  hsl(28, 10%, 53%);
  font-size: 19px;
  margin-top: -50px;
  margin-left: 5px;
  text-align: center;
  margin-top: 5px;
}

.texto-tue {
  color:  hsl(28, 10%, 53%);
  font-size: 19px;
  margin-top: -50px;
  margin-left: 5px;
  text-align: center;
}

.texto-wed {
  color:  hsl(28, 10%, 53%);
  font-size: 19px;
  margin-top: -110px;
  margin-left: 5px;
  text-align: center;
}

.texto-thu {
  color:  hsl(28, 10%, 53%);
  font-size: 19px;
  margin-top: 2px;
  margin-left: 5px;
  text-align: center;
  margin-top: -48px;
}

.texto-fri {
  color:  hsl(28, 10%, 53%);
  font-size: 19px;
  margin-top: 2px;
  margin-left: 5px;
  text-align: center;
  margin-top: -16px;
}

.texto-sat {
  color:  hsl(28, 10%, 53%);
  font-size: 19px;
  margin-top: 2px;
  margin-left: 5px;
  text-align: center;
  margin-top: -64px;
}

.texto-sun {
  color:  hsl(28, 10%, 53%);
  font-size: 19px;
  margin-top: 2px;
  margin-left: 5px;
  text-align: center;
  margin-top: -4px;
}

.container-info {
 display: flex;
 flex-direction: column;
 margin-top: 8px;
}

.card-info {
  display: flex;
  flex-direction: column;
 align-items: flex-end;
 padding: 0 20px;
 margin-top: -70px;
}

.text-info {
  color:  hsl(28, 10%, 53%);
  font-size: 15px;
  padding-left: 6px;
}

.number {
  font-size: 34px;
  color: hsl(25, 47%, 15%);
  font-weight: bolder;
  margin-top: 3px;
}

.text1 {
 color: hsl(25, 47%, 15%);
 font-weight: bolder;
 font-size: 16px;
}

.text2 {
  color: hsl(28, 10%, 53%);
  font-size: 15px;
  margin-top: 2px;
}


@media screen and (max-width: 375px) {
  
}